<%= render 'shared/title', title: "Create New Recipe" %>
<% if @recipe.errors.any? %>
  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger">
        <div class="card-header">
          <h2 class="card-title">
            <%= pluralize(@recipe.errors.count, "error") %>
            prohibited this <%= @recipe.class %> from being saved:
          </h2>
          <div class="card-body">
            <ul>
              <% @recipe.errors.full_messages.each do |msg|%>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

  <div class = "row">
    <div class="col">
      <%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class= "control-label col-sm-2 ">
          <%= f.label :name, class: " col-form-label" %>
        </div>
        <div class="col-12">
          <%= f.text_field :name, class: "form-control", placeholder: "Name of Recipe", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label">
          <%= f.label :description, class: "col-sm-2 col-form-label" %>
        </div>
        <div class="col-12">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter Your Recipe" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 col-form-label">
          <%= f.submit class:"btn btn-primary btn-lg btn-xlarge" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="center">
    [<%= link_to "Cancel request and return to recipes listing", recipes_path %>]
  </div>
